VITE_ENV_NAME=DEV
VITE_API_GATEWAY=<Url to the API Gateway>
VITE_ITRUST_LOGIN_URL=<Url to iTrust Auth Widget>
VITE_ITRUST_USER_CONSOLE=<Url to iTrust User Console>
VITE_KEYCLOAK_BASE_URL=<Url of OIDC Service>
VITE_KEYCLOAK_REALM=<User Realm>
VITE_KEYCLOAK_CLIENT=<OIDC Client>


