# ignore Mac directory 
**/.DS_Store
.env*
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
installed-packages.json
licenses.json
*manifest.json
*manifest.csv 

# dependencies
**/node_modules

# build output
/coverage
/build




